:root {
  --luon-scroll-size: 0px;
  --luon-scroll-width: none;
  --luon-scroll-thumb: transparent;
  --luon-scroll-track: transparent;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--luon-scroll-thumb) var(--luon-scroll-track);
    scrollbar-width: var(--luon-scroll-width);
  }
}

*::-webkit-scrollbar {
  width: var(--luon-scroll-size);
  height: var(--luon-scroll-size);
}

*::-webkit-scrollbar-track {
  background: var(--luon-scroll-track);
}

*::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: var(--luon-scroll-thumb);
}

*::-webkit-scrollbar-corner {
  background: var(--luon-scroll-track);
}
